/* GENERAL */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Arial, sans-serif, Tahoma;
}
h1{
	font-family: RobotoSlab-Bold, Arial;
	font-size: 45px;
	color: #444444;
}
h2{
	color: #fff;
	font-size: 55px;
}
h3{
	font-size: 30px;
	color: #444;
}
h4{
	color: #444;
	font-size:24px;
}
p{
	line-height: 20px;
	color: #777;
}
a{
	text-decoration: none;
	color: #444;
}
ul{
	list-style: none;
}
.wrapper{
	width: 1320px;
	margin: 0 auto;
	padding: 0 10px;
}
.orange{
	color: #ff7a00;
}
.clear{
	clear: both;
}
small{
	font-size: 13px;
	font-style: italic;
}


/* HEADER */

header{
	height: 120px;
}
header h1{
	float: left;
	margin-top: 32px;
}
header nav{
	float: right;
	margin-top: 50px;
}
header nav ul li{
	display: inline-block;
	float: left;
}
header nav ul li a{
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}

/*main-images*/

#main-images{
	height: 580px;
	background: url('images/tre.jpg') center;
}
#main-images h2{
	font-weight: normal;
	text-align: center;
	padding: 210px 0 0px 0;
	margin-bottom: 20px;
}
.button1{
	display: block;
	width: 120px;
	height: 50px;
	background:#ff7a00;
	color: #fff;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	border-radius: 5px; 
}
.button1:hover
{
	color: #fff;
	background : #02b8dd; 
}
/*STEPS*/
#steps ul{
	margin: 80px 0;
}
#steps ul li{
	width: 420px;
	float: left;
	text-align: center;
	margin-right: 10px;
}
#steps p{
	margin-bottom: 20px;
}
#steps1{
	background: url();
}
#steps2{
	background: url();
}
#steps3{
	background: url();
}
#steps h4{
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*POSSIBILITIES*/

#possibilities{
	background: #efefef;
	padding: 30px 180px;
}
#possibilities article{
	width: 460px;
	height: 270px;
	float: left;
	border-radius: 10px;
}
#possibilities article:first-child{
	margin-right: 30px;
}
.overlay{
	background: rgba(255,255,255, 0.94);
	height: 230px;
	width: 180px;
	padding: 20px;
	border-radius: 10px 0 0 10px; 
}
article h4{
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.overlay{
	text-align: center;
}
#possibilities p{
	text-align: center;
	margin-bottom: 20px;
}
.button2{
	color: #fff;
	background: #ff7a00;
	padding: 6px 20px;
	margin-bottom: 20px;
	border-radius: 3px;
}
.button2:hover{
	color: #fff;
	background: #02b8dd;
}

/*CONTACT*/
#contact{
	padding: 60px;
	text-align: center;
}
#contact h3{
	width: 400px;
	margin: 0 auto 20px auto;
	border-bottom: 2px solid #02b8dd;
	padding-bottom: 20px;
}
form{
	margin: 60px 0 20px 0;
}
label{
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	color: #777;
}
input[type="text"]{
	padding: 10px;
	font-size: 20px;
	margin-right: 20px;
	border: 2px solid #ddd;
	border-radius: 3px;
}
.button3{
	color: #fff;
	background: #02b8dd;
	font-size: 20px;
	font-weight: bold;
	padding: 11px;
	border-style: none;
	border-radius: 3px;
}
.button3:hover{
	color:#fff;
	background-color: #444;
}

/*FOOTER*/
footer{
	height: 260px;
	background-color: #444;
	text-align: center;
}
footer h1{
	color: #fff;
	padding-top: 80px; 
}
.copyright{
	padding-top: 30px;
	color: #777;
}
















